body{
    background: linear-gradient(rgb(11, 233, 11), white);
}
header h1{
    
    color: green;

}

section h2{
    color: green;
}

section p{
    font-size: 20px;
    color: white;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}

div ul a{
    display: block;
}

.todo-mundo{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.todo-mundo a{
    display: block;
    
}
.todo-mundo a:hover{
    color: orange;
    font-size: 15px;
}
h4{
    font-size: 28px;
    color: blue;
}
footer{
    background: blue;
    color:white;
    font-weight: bold;
    text-align: center;
}